$size-image: 18px;
$image-margin-right: 16px;

.app-field {
  padding-top: 8px;
  min-width: 120px;
  width: 120px;
  display: inline-block;
  box-sizing: border-box;
  outline: none;

  &:focus {
  }

  &:hover .divider {
    background-color: var(--ligth-theme-placeholder);
  }

  &_focus .divider {
    background-color: var(--primary-blue);
    height: 2px;
  }

  &__label {
    &_up {
      position: absolute;
      bottom: 100%;
      font-size: 10px;
      color: var(--ligth-theme-secondary);
    }

    &_down {
      color: var(--ligth-theme-placeholder);
      min-height: 15px;
    }

    &_focus {
      color: var(--primary-blue);
    }
  }

  &__main-wrap {
    font-size: 12px;
    display: flex;
    margin-bottom: 6px;
    align-items: flex-end;
  }

  &__main-block {
    position: relative;
    font-size: 12px;
    flex-grow: 1;
    cursor: text;
  }

  &__image {
    font-size: 12px;
    display: block;
    width: $size-image;
    height: $size-image;

    &_left {
      margin-right: $image-margin-right;
    }

    &_right {
      margin-left: 16px;
    }
  }

  &__error-message {
    position: absolute;
    margin-top: 6px;
    font-size: 10px;
  }


}
