<div
  class="app-field"
  [style.width]="width"
  (click)="onFocusField()"
  [ngClass]="{
    'app-field_focus': isFocus
  }"
>
  <div class="app-field__main-wrap">
    <img
      *ngIf="srcLeft"
      [src]="srcLeft"
      class="app-field__image app-field__image_left"
    >

    <div class="app-field__main-block">
      <div
        class="app-field__label app-field__label_up"
        *ngIf="isVisibleElement"
        [ngClass]="{
          'app-field__label_focus': isFocus
        }"
      >
        {{ label }}
      </div>

      <ng-template #refLabel>
        <p class="app-field__label_down app-field__label">
          {{ label }}
        </p>
      </ng-template>

      <ng-component *ngTemplateOutlet="isVisibleElement && element ?element :refLabel"></ng-component>
    </div>

    <img
      *ngIf="srcRight"
      [src]="srcRight"
      class="app-field__image app-field__image_right"
    >
  </div>

  <div class="divider"></div>

  <div class="app-field__error-message">
    {{ errorMessage }}
  </div>
</div>
