.app-tabs {
  &__list {
    display: flex;
  }

  &__tab {
    color: var(--ligth-theme-secondary);
    margin-right: 24px;
    cursor: pointer;
    height: 36px;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    align-items: center;

    &_active {
      color: var(--primary-black);
      border-bottom: 2px solid var(--primary-blue);
    }
  }

  &__divider {
    margin-top: -1px;
  }
}
