<div class="app-root">

  <ng-template #headerRightDesktop>
    <app-button
      srcImage="/assets/svg/add.svg"
      text="Запланировать"
      typeButton="text"
    ></app-button>
  </ng-template>
  <ng-template #headerRightMobile>
    <app-button
      srcImage="/assets/svg/add.svg"
      text=""
      typeButton="text"
    ></app-button>
  </ng-template>

  <app-header
    title="Планирование"
    srcTitle="/assets/svg/planning.svg"
    [dataBreadcrumbs]="dataBreadcrumbs"
    [rightDesktop]="headerRightDesktop"
    [rightMobile]="headerRightMobile"
  ></app-header>

  <main class="app-root__body" [ngClass]="{'app-root__body_scroll': isScroll}">
    <div class="container">
      <app-tabs
        [dataTabs]="dataTabs"
        [activeTabId]="activeTabId"
        (onChangeActiveTab)="onChangeTabId($event)"
      ></app-tabs>
    </div>
    Hello world!<br>
    Hello world!<br>
    Hello world!<br>
    {{ activeTabId }}
  </main>
</div>
