<div class="app-filters">
  <div class="app-filters__element">
    <app-text-field
      srcLeft="/assets/svg/search.svg"
      width="166px"
      label="Поиск"
      [value]="value"
      (onChange)="onChangeTextField($event)"
    >
    </app-text-field>
  </div>

  <app-dropdown-menu
    srcRight="/assets/svg/add.svg"
    [onRightClick]="onRightClick"
    label="Label"
    width="100%"
    [arrActiveId]="arrActiveId"
    (onChange)="onChangeDropDown($event)"
    [dataMenu]="dataMenu"
  ></app-dropdown-menu>
</div>
