<div class="app-filters">
  filters works!
  <app-field
    label="Label"
  ></app-field>

  <app-text-field
    srcRight="/assets/svg/add.svg"
    [onRightClick]="onRightClick"
    label="Label"
    [value]="value"
    (onChange)="onChangeTextField($event)"
  >
  </app-text-field>

  <app-dropdown-menu
    srcRight="/assets/svg/add.svg"
    [onRightClick]="onRightClick"
    label="Label"
    [value]="value"
    (onChange)="onChangeTextField($event)"
    [dataMenu]="dataMenu"
  ></app-dropdown-menu>
</div>
