<button
  class="app-button"
  [ngClass]="
    {
      'app-button_big': sizeButton == 'big',
      'app-button_secondary': typeButton == 'secondary',
      'app-button_text-type': typeButton == 'text'
    }"
  [style.background]="getBackground()"
>
  <span class="app-button__overlay" [style.background]="color"></span>
  <img
    *ngIf="srcImage"
    class="app-button__image"
    [src]="srcImage"
    [ngClass]="{
      'app-button__image_margin-right': text
    }"
  >
  <span *ngIf="text" [style.color]="getColor()">{{ text }}</span>
</button>
