<div
  *ngIf="filterSettingService.isVisible()"
  class="blackout"
  (click)="filterSettingService.changeVisible(false)"
></div>

<div *ngIf="filterSettingService.isVisible()" class="app-filter-setting">
  <div class="app-filter-setting__header header">
    <h2 class="header__title">
      Настройка фильтра
    </h2>

    <div class="header__image-wrap" (click)="filterSettingService.changeVisible(false)">
      <img class="header__image" src="/assets/svg/done.svg" alt="done">
    </div>

    <div class="header__image-wrap" (click)="filterSettingService.changeVisible(false)">
      <img class="header__image" src="/assets/svg/close.svg" alt="close">
    </div>
  </div>

  <div class="app-filter-setting__main">
    <div class="main-container">
      <h3 class="main-container__title">
        Системные поля
      </h3>

      <div
        class="main-container__element"
        *ngFor="let data of filterSettingService.systemCheckbox"
      >
        <app-checkbox
          [isChecked]="data.isChecked"
          [text]="data.text"
          (onChange)="filterSettingService.onChangeCheckedCreator(filterSettingService.systemCheckbox, data.id)($event)"
        ></app-checkbox>
      </div>

    </div>

    <div class="main-container">
      <h3 class="main-container__title">
        Дополнительные поля
      </h3>

      <div
        class="main-container__element"
        *ngFor="let data of filterSettingService.additionalCheckbox"
      >
        <app-checkbox
          [isChecked]="data.isChecked"
          [text]="data.text"
          (onChange)="filterSettingService.onChangeCheckedCreator(filterSettingService.additionalCheckbox, data.id)($event)"
        ></app-checkbox>
      </div>

    </div>
  </div>

</div>
